.root{
    -fx-background-color : #FFFFFF;
}

.label{
    -fx-font-weight: bold;
}
#LabelShape{
    -fx-border-color: #006E90;
    -fx-border-width: 2px;
    -fx-background-color:white;
    -fx-border-radius : 8;
    -fx-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#LabelName{
    -fx-font-size:10;
    -fx-alignment: center;
}

Line{
    -fx-stroke: #006E90;
    -fx-stroke-width: 2px;
}

Polygon{
-fx-fill: #006E90;
}

Circle{
 -fx-fill: #006E90;
}