.root{
    -fx-background-color : lightgrey;
}

.label{
    -fx-font-weight: bold;
}
#LabelShape{
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-background-color:white
}

#LabelName{
    -fx-font-size:10;
    -fx-alignment: center;
}

Line{
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}

Polygon{
-fx-fill:red;
}

Circle{
 -fx-fill:BLACK;
 -fx-opacity:1.0;
}