.root{
    -fx-background-color : lightgrey;
}

.label{
    -fx-font-weight: bold;
}
#LabelShape{
    -fx-border-color: blue;
    -fx-border-width: 2px;
    -fx-background-color:white
}

#LabelName{
    -fx-font-size:10;
    -fx-alignment: center;
}

Polyline{
    -fx-stroke: blue;
    -fx-stroke-width: 2px;
}